@import "common/colors.scss";
@import "common/fonts.scss";
@import "common/misc.scss";

.base {
  font-family: $font-family-serif;
  font-weight: $font-weight-normal;
  font-size: 100%;
  line-height: 1.5;

  width: min(80ch, 97vw);
  text-align: left;

  margin: 0;
  padding: 0;
}

.menu {
  @include color-background-main;
  @include box-shadow;

  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 0.33rem;

  .item {
    list-style: none;
    font-family: $font-family-serif;
    font-weight: $font-weight-semibold;
    font-size: 110%;

    text-align: center;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:visited {
      color: inherit;
    }

    a {
      div {
        padding-top: 0.33em;
        padding-bottom: 0.33em;
        padding-left: 0.5em;
        padding-right: 0.5em;

        border: solid 1px;
        border-color: $color-dark-text-light;

        @media (prefers-color-scheme: light) {
          border-color: $color-light-text-light;
        }

        @media (prefers-color-scheme: dark) {
          border-color: $color-dark-text-light;
        }

        min-width: 5em;

        @include color-background-dark;
      }
    }
  }

  .item:hover {
    a {
      div {
        text-decoration: underline;
        @include color-background-main;
      }
    }
  }

  .active {
    a {
      div {
        text-decoration: underline;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
