$color-dark-text: #c5cfd6;
$color-dark-text-light: #5b646b;
$color-dark-background-main: #242933;
$color-dark-background-dark: #1c2027;
$color-dark-shadow: #0c0e12;

$color-light-text: #253848;
$color-light-text-light: #76828c;
$color-light-background-main: #f1f4f6;
$color-light-background-dark: #dbe0e9;
$color-light-shadow: #bfc2c9;

$color-accent: #007cce;

$color-text: $color-dark-text;
$color-background-main: $color-dark-background-main;
$color-background-dark: $color-dark-background-dark;
$color-shadow: $color-dark-shadow;


@mixin color-background-dark {
  background-color: $color-background-dark;

  @media (prefers-color-scheme: light) {
    background-color: $color-light-background-dark;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark-background-dark;
  }
}

@mixin color-background-main {
  background-color: $color-background-main;

  @media (prefers-color-scheme: light) {
    background-color: $color-light-background-main;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark-background-main;
  }
}

@mixin color-text {
  color: $color-text;

  @media (prefers-color-scheme: light) {
    color: $color-light-text;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-text;
  }
}

@mixin color-text-light {
  color: $color-text;

  @media (prefers-color-scheme: light) {
    color: $color-light-text-light;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-dark-text-light;
  }
}
