$font-family-display: "Playfair Display", serif;
$font-family-serif: "Lora", serif;
$font-family-sans: "Raleway", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 900;
