@import "tailwindcss";
@plugin '@tailwindcss/typography';

@utility text-optimize-legibility {
    text-rendering: optimizeLegibility;
}

/* Override max-w-prose */
@layer utilities {
    .max-w-prose {
        max-width: 75ch;
    }
}

@layer components {
    .mdprose {
        @apply prose;
        @apply prose-headings:no-underline;

        & .autolink-anchor {
            @apply no-underline
                hover:before:content-["#"]
                hover:before:inline-block
                hover:before:translate-x-[-1em]
                hover:before:absolute;
        }

        & .task-list-item input[type="checkbox"] {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        & .data-footnote-backref {
          text-decoration: none;
        }
        & .data-footnote-backref:hover {
          text-decoration: underline;
        }

        & sup > a[data-footnote-ref="true"] {
          text-decoration: none;
        }
        & sup > a[data-footnote-ref="true"]:hover {
          text-decoration: underline;
        }
    }
}

.csl-ref > a {
    @apply no-underline hover:underline;
}

.csl-bib-body {
    @apply flex flex-col gap-2 font-light text-sm text-slate-950 dark:text-slate-50 px-3;

}

.csl-entry {
    @apply list-item;
}

.csl-entry::marker {
    @apply text-xs text-slate-300 dark:text-slate-600;
}

.code-highlight {
    @apply block p-0 m-0 min-w-fit;
}

.code-line {
    @apply block border-l-4 border-transparent box-border w-full px-4;
}

/*
 * .code-line.inserted {
 *     @apply bg-green-800/25;
 * }
 * 
 * .code-line.deleted {
 *     @apply bg-red-900/25;
 * }
 */

.highlight-line {
    @apply bg-slate-600/50 border-l-4 border-l-amber-500;
}

.token.comment {
    color: #949ba6 !important;
}

pre[class*="language-"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.line-number::before {
    @apply inline-block text-right w-4 mr-4 ml-[-0.5rem];
    color: #949ba6;
    content: attr(line);
}
