@import "common/colors.scss";
@import "common/fonts.scss";
@import "common/misc.scss";


.base {
  @include color-background-dark;
  @include color-text;

  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: $font-family-serif;
  font-weight: $font-weight-normal;
  font-size: 15pt;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  @include color-background-main;
  @include box-shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  width: min(90ch, 97vw);
  text-align: center;
}

.error {
  margin-top: 20vh;
}

.text {
  padding: 0em 2em 2.75em 2em;
}

.errorcode {
  font-family: $font-family-display;
  font-weight: $font-weight-bold;
  font-size: 128px;

  margin: 0 0 5px 0;
  padding-top: -2em;
}

.errortext {
  font-family: $font-family-display;
  font-weight: $font-weight-normal;
  font-size: 38px;

  margin: 5px 0;
}
