@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.base {
  background-color: #0e1010;
  color: #c8d4dc;

  height: 100vh;

  a {
    color: #c8d4dc;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: #c8d4dc;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  text-align: center;

  p {
    z-index: 1;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.particles {
  z-index: -1;
}

.notice {
  font-family: "Source Code pro", monospace;
  font-size: 35px;
  font-weight: bold;
}

.referral {
  font-family: "Source Code pro", monospace;
  font-size: 17px;
}
