@import "common/colors.scss";
@import "common/fonts.scss";
@import "common/misc.scss";


.base {
  @include color-background-dark;
  @include color-text;

  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: $font-family-serif;
  font-weight: $font-weight-normal;
  font-size: 13pt;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: underline;
    color: currentColor;
  }

  a:visited {
    color: currentColor;
  }

  a:hover {
    text-decoration: none;
    color: currentColor;
  }
}

.section {
  @include color-background-main;
  @include box-shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  width: min(90ch, 97vw);
  text-align: left;
}

.text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;


  h1, h2, h3 {
    font-family: $font-family-display;
    font-weight: $font-weight-semibold;
    font-size: 25pt;
  }
}

.about {
  margin-top: 50px;

  .text {
    padding-bottom: 1.75em;
    padding-top: 0.1em;
  }
}

.profile {
  margin-top: 10vh;

  .column {
    text-align: center;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;
    margin-top: 5px;
  }
  li {
    margin: 5px 0;
  }
}

.profileCard {
  margin-top: 1em;
  margin-bottom: 2em;
}

.profileMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profileText {
  margin: 0;
  text-align: right;
  font-family: $font-family-serif;
  font-weight: $font-weight-normal;
  font-size: 12pt;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  white-space: nowrap;
}

.profileName {
  margin: 0;
  font-family: $font-family-display;
  font-weight: $font-weight-semibold;
  font-size: 36pt;
}

.profileImage {
  width: 150px;

  border-color: $color-background-dark;
  border-radius: 50%;
  border-style: solid;
  border-width: 8px;

  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

.profileLinks {
  margin-top: 0.5em;

  a {
    margin: 10px;
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: currentColor;
  }

  a:hover {
    text-decoration: none;
    color: $color-accent;
  }

  a:visited {
    color: currentColor;
  }

  .icon {
    width: 32px;
    height: 32px;

    background-color: $color-background-dark;
    border-color: $color-background-dark;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;

    display: inline-block;
    fill: currentColor;
    padding: 0px 0px 0px 0px;
    vertical-align: text-bottom;
  }

  .icon:hover {
    color: $color-accent;
  }
}


@media (prefers-color-scheme: light) {
    .profileLinks {
      .icon {
        background-color: $color-light-background-dark;
        border-color: $color-light-background-dark;
      }
    }
    .profileImage {
      border-color: $color-light-background-dark;
    }
}

@media (prefers-color-scheme: dark) {
    .profileLinks {
      .icon {
        background-color: $color-dark-background-dark;
        border-color: $color-dark-background-dark;
      }
    }
    .profileImage {
      border-color: $color-dark-background-dark;
    }
}
