@import "common/colors.scss";
@import "common/fonts.scss";
@import "common/misc.scss";


.markdown {
  font-family: $font-family-serif;
  font-weight: $font-weight-normal;
  font-size: 15pt;

  p {
    code {
      font-family: $font-family-monospace;
      font-weight: $font-weight-normal;
      font-size: 12pt;

      border-radius: 3px;
      padding-left: 2px;
      padding-right: 2px;

      @include color-background-dark;
    }
  }

  pre {
    code {
      font-family: $font-family-monospace;
      font-weight: $font-weight-normal;
      font-size: 11pt;

      border-radius: 5px;
    }
  }

  :global(.hljs-comment), .markdown :global(.hljs-quote) {
    color: #949ba6 !important;
  }

  :global(.autolink-anchor) {
    text-decoration-line: none;
  }

  :global(.autolink-anchor)::before {
    content: '#';
    position: absolute;
    margin-left: -0.75em;
    padding-right: 0.175em;
    padding-left: 0.1em;

    text-decoration-line: none;
    visibility: hidden;
  }

  *:hover > :global(.autolink-anchor)::before {
      visibility: visible;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;

    margin-left: auto;
    margin-right: auto;

    padding: 0.5em;
    border-radius: 3px;

    @include color-background-dark;

    border-spacing: 0px;

    th, td {
      padding: 0.25em;
      margin: 0;
    }

    thead {
      th {
        border-bottom: 1px solid $color-text;

        @media (prefers-color-scheme: light) {
          border-color: $color-light-text;
        }

        @media (prefers-color-scheme: dark) {
          border-color: $color-dark-text;
        }
      }
    }

    tbody {
      td {
        border-bottom: 1px solid $color-text;

        @media (prefers-color-scheme: light) {
          border-color: $color-light-text-light;
        }

        @media (prefers-color-scheme: dark) {
          border-color:$color-light-text-light;
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
